@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Lato", sans-serif;
  color: #222222;
}

:root {
  --primary-color: goldenrod;
  --primary-color-darker: rgb(112, 80, 0);
  --secondary-color: #222222;
  --container: 1200px;
  --line-height-text: 1.8;
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 11px;
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
  }
}
